<head>
    <link rel="stylesheet" type="text/css" href="resources/style.css">
</head>
<body>
    
    <div id="logo-container">
        <img src="resources/quicky_logo.png" alt="Quicky Logo">
    </div>
    <div id="search-container">
        <input id="searchbar" type="text" placeholder="Search..." autofocus>
        <div id="commands-container" class="keywords-container">
        </div>
        <div id="arguments-container" class="keywords-container">
        </div>
    </div>
    <script src="resources/main.js"></script>
</body>