<head>
    <link rel="stylesheet" type="text/css" href="resources/style.css">
</head>

<body>
    <h1>Quicky</h1>
    <input id="searchbar" type="text" placeholder="Search..." autofocus>
    <div id="shortcut-block">
        <div class="icon-block"><img src="resources/twitter-icon.png" alt="Twitter"><span>tw</span></div>
        <div class="icon-block"><img src="resources/reddit-icon.png" alt="Reddit"><span>r</span></div>
        <div class="icon-block"><img src="resources/github-icon.png" alt="Github"><span>gh</span></div>
        <div class="icon-block"><img src="resources/pinterest-icon.png" alt=""><span>pi</span></div>
        <div class="icon-block"><img src="resources/amazon-icon.png" alt="Amazon"><span>am</span></div>
        <div class="icon-block"><img src="resources/youtube-icon.png" alt="Youtube"><span>yt</span></div>
        <div class="icon-block"><img src="resources/linkedin-icon.png" alt="Linked"><span>li</span></div>
        <div class="icon-block"><img src="resources/proton-icon.png" alt="Proton"><span>pr</span></div>
    </div>
    <script src="resources/main.js"></script>
</body>