<head>
    <link rel="stylesheet" type="text/css" href="resources/style.css">
</head>

<body>
    <input id="searchbar" type="text" placeholder="Search..." autofocus>
    <div id="name-container">

    </div>
    <script src="resources/main.js"></script>
</body>